$rain: #2C3845;
$primary: #0275d8;

.table-container {
  width: 60%;
  padding: 16px;
  font-size: 2.5vh;
}

thead {
  background-color: darken($rain, 5%);
  border-bottom: #505050;
}

.table {
  background-color: $rain;
  color:lightgray;
  border: #505050;
  a {
    text-decoration: underline;
    color: whitesmoke;
  }
  a:hover {
    color: $primary;
  }
}

nav {
  margin: 16px;
}

.btn {
  font-size: 2vh;
  a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
  }
}

.button-area {
  padding: 16px;
}